<p>This view should be replaced with the exported ember-cli project. Please see
  <a href="https://github.com/ashblue/ember-checklist">Ember Checklist</a> for exporting.</p>

<p>To view the current REST API commands please see controllers apis, checklists, and entries with their corresponding
routes in the router.</p>